@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 243, 244, 246;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@media print {
  .print\:hidden { display: none !important; }
  header, footer, nav { display: none !important; }
  body { background: white; }
  .shadow-md, .shadow-sm { box-shadow: none !important; }
}
